<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" routerLink="/">RiverEagle.tv</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-store">Product Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/platinum">Eagle's Platinum Club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
