nav-item {
  margin-left: 1%;
  margin-right: 1%;
}

a {
  font-size: 18px;
}

.nav li{
  padding-right:5px;
}
.nav a{
  color: white !important;
  font-size: 1.8em !important;
}
.navbar{
  height: 5%;
}
