<nav-bar></nav-bar>
<div class="container animated bounceInLeft">
  <channel-choice></channel-choice>
  <h2 style="text-align: center; LINE-HEIGHT:150%">Eagle's Platinum Club Membership</h2>
  <h5 style="text-align: center; LINE-HEIGHT:150%"><b>Hello friends, and welcome to the “Eagle’s Platinum Club”!  Come soar with us!  It’s only $1.95 per month!</b></h5>
  <h3 style="text-align: center; LINE-HEIGHT:150%"><a href="#"><b>BECOME AN EAGLE’S PLATINUM MEMBER TODAY FOR ONLY $1.95 PER MONTH – CLICK HERE NOW!</b></a></h3>
  <h5 style="text-align: center; LINE-HEIGHT:150%">We are a “live-streaming” digital media broadcasting company, providing our members with unique access to premium content from the Film & Television; Music Industry; Professional Athletics; the Business Professional Communities, and some of the most amazing content broadcast from our 21 high definition digital channels!</h5>

  <h5 style="text-align: center; LINE-HEIGHT:150%">We offer assorted Video-on-Demand(VOD) broadcasts, and uniquely special event “Pay-Per-View” live streaming broadcasts for our members that offer a unique blend of meaningful content which often includes our “one-of-a-kind” special offers, gifts, and contest-give-aways, for our valued viewers and fans.</h5>
  <h5 style="text-align: center; LINE-HEIGHT:150%">As an “<b>Eagle’s Platinum Club</b>” member, you get to view our broadcasts, both Video-on-Demand and Pay-Per-View, as a “paid-guest”.  You will not have to pay to view events as they happen, you will receive a “guest-pass” instead of paying a per event charge.  Your monthly membership is only $1.95!</h5>
  <h3 style="text-align: center; LINE-HEIGHT:150%">ALL EVENT & PROGRAM BROADCASTS WILL BE SEEN ON: “RIVER EAGLE BROADCASTING NETWORK”</h3>



  <h5 style="text-align: center; LINE-HEIGHT:150%">Your “<b>Eagle’s Platinum Club</b>” membership may start with a free trial.  The free trial period of your membership lasts for one month.  Free trials may not be combined with any other offers.  If you or another member of your household has been a member within the last 12 months, you are not eligible to receive a free trial.  You must have internet access and a current valid credit card or debit card, or other acceptable payment method to use our service.</h5>
  <h3 style="text-align: center; LINE-HEIGHT:150%"><a href="#"><b>BECOME AN EAGLE’S PLATINUM MEMBER TODAY FOR ONLY $1.95 PER MONTH – CLICK HERE NOW!</b></a></h3>




  <h5 style="text-align: center; LINE-HEIGHT:150%">We will begin billing your payment method for monthly membership fees at the end of the free trial period of your membership unless you cancel prior to the end of the free trial period.  You will not receive a notice from us that your free trial period has ended or that the paying portion of your membership has begun.  IF YOU CANCEL PRIOR TO THE END OF YOUR FREE TRIAL, THERE WILL BE NO CHARGES TO YOUR PAYMENT METHOD.</h5>
  <h5 style="text-align: center; LINE-HEIGHT:150%">We will continue to bill your payment method on a monthly basis for your membership until you cancel.  You may cancel your membership at any time, however, there will are no refunds or credits for partially used periods.</h5>
  <h5 style="text-align: center; LINE-HEIGHT:150%"><b>Billing:</b> By starting your <b>“Eagle’s Platinum Club”</b> membership, you are expressly agreeing that we are authorized to charge you a monthly membership fee at the rate of $1.95 to the payment method that you provided during registration.  The membership fee will be billed at the beginning of the paying portion of your membership and each month thereafter unless and until you cancel your membership.</h5>
  <h3 style="text-align: center; LINE-HEIGHT:150%"><a href="#"><b>BECOME AN EAGLE’S PLATINUM MEMBER TODAY FOR ONLY $1.95 PER MONTH – CLICK HERE NOW!</b></a></h3>

</div>
