<nav-bar></nav-bar>
<div class="container animated bounceInLeft">
  <channel-choice></channel-choice>
  <h2 style="text-align: center; LINE-HEIGHT:150%">Contact Us</h2>
  <!-- Mailing Address -->
  <h5 style="text-align: center; LINE-HEIGHT:150%"><u>Mailing Address</u></h5><br/>
  <h5 style="text-align: center; LINE-HEIGHT:150%">River Eagle Media Group, LLC</h5><br/>
  <h5 style="text-align: center; LINE-HEIGHT:150%">4712 Admiralty Way, CA, 90292</h5><br/>
  <hr>

  <!-- Email Address -->
  <h5 style="text-align: center; LINE-HEIGHT:150%"><u>Email Address</u></h5><br/>
  <h5 style="text-align: center; LINE-HEIGHT:150%"><a href="mailto:info@rivereaglemedia.com">info@rivereaglemedia.com</a></h5>
  <div class="form-group">
    <textarea class="form-control" rows="4" cols="50" name="comment" form="usrform">Enter Text Here...</textarea>
  </div>

  <form id="usrform" method="post" action="mailto:siyuanx@usc.edu" >
    <input type="submit" value="Send Email" />
  </form>
  <hr>

  <!-- Phone  -->
  <h5 style="text-align: center; LINE-HEIGHT:100%"><u>Phone Number</u></h5><br/>
  <h5 style="text-align: center; LINE-HEIGHT:100%">(323) 784-5573</h5>
  <footer></footer>
</div>
