<div class="animated bounceInLeft full-screen">
    <nav-bar></nav-bar>
    <div class="container">
      <channel-choice></channel-choice>
      <img class="logo-pic full-size-logo" src="../../assets/img/River_Eagle_Logo.jpeg" alt="River Eagle Logo">
      <h1 class="second-line">Welcome to River Eagle Broadcasting Network</h1><br/>
      <h3>&quot;Following with Purpose, Soaring with Significance&quot;</h3><br/>
    </div>
  <div class="animated bounceInLeft second-full-screen">

    <video autoplay muted loop>
      <source src="../../assets/videos/Banner/home-cta-video-6.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <img class="logo-pic half-size-logo" src="../../assets/img/River_Eagle_Logo.jpeg" alt="River Eagle Logo">
  <div class="second-video">
    <img class="mastercard" src="../../assets/img/PicsByVideo/master_card.png" alt="Mastercard" style="max-width: 25%;"/>
    <video autoplay muted loop>
      <source src="../../assets/videos/Delta/1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img class="mastercard" src="../../assets/img/PicsByVideo/platinum.png" alt="Eagle's Platinum Club" style="max-width: 22%; position: absolute; right: 0; bottom: 0%;" />

  </div>
  <br/>
  <div class="for-image">
    <img class="mastercard" src="../../assets/img/PicsByVideo/Sunny_Glendale_2.jpg" alt="Trip a day" style="max-width: 15%; position: absolute; left: 7%; top: 9%;"/>
    <div style="max-width: 15%; position: absolute; left: 12%; top: 23.5%; text-align: center;">
      T-Shirt<br/>
      Product Store<br/>
      <a routerLink="/product-store">Click Here!</a>
    </div>
    <img class="mastercard" src="../../assets/img/PicsByVideo/Sunny_Glendale_1.jpg" alt="Trip a day" style="max-width: 12%; position: absolute; left: 8%; top: 29%;"/>
    <img class="mastercard" src="../../assets/img/PicsByVideo/may_a_day.jpg" alt="Trip a day" style="max-width: 20%; position: absolute; right: 2.5%; top: 20%;"/>

    <div class="narrative">
      Get your "Pay-Per-View" ticket today for this amazing May 25 & 26, 2018 event!  <a href="#">Click here now!</a><br/><br/>
    </div>
    <div class="flyer-class">
      <img class="flyer" src="../../assets/img/Flyer/1.png" alt="flyer"><br/>
      <img class="flyer" src="../../assets/img/Flyer/2.png" alt="flyer">
    </div>
  </div>
  <hr class="hr-line">
  <div class="brand-title">
    RiverEagle.tv: Featured Promotional Brands
  </div>
  <div class="sponsor">
    <img *ngFor="let image of sponserImg"  src="{{image}}" alt="Sponsor"/>
  </div>
  <footer></footer>
</div>
